html {
  background: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTdc3WGcnRu0Q0P7v5uTd5j0FCuMsxJP77TsiuMbIh3eHf32MzYMw) no-repeat center center fixed;
   background-size:100% 100%;
}

#name{
	font-family: Arial;
	font-size: 3em;
	text-align: center;
	padding-top: 75px;
}

a:link{
  color:white;
  text-decoration:none;
}

a:hover{
  text-decoration:underline;
}
