html {
  background: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTdc3WGcnRu0Q0P7v5uTd5j0FCuMsxJP77TsiuMbIh3eHf32MzYMw) no-repeat center center fixed;
   background-size:100% 100%;
}

#name{
	font-family: Arial;
	font-size: 3em;
	text-align: center;
	padding-top: 75px;
}

a:link{
  color:white;
  text-decoration:none;
}

a:hover{
  text-decoration:underline;
}

#navbar{
	position: fixed;
	top:10px;
	left:33%;
	margin-left:-254px;
}

#header{
	position: relative;
	top: -10px;
	background-color: gray;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
  color: black;
}

ul{
	list-style-type: none;
	position: fixed;
	margin: -10px;
}

li {
	display: inline;
	border: 2px solid #000000;
	font-family: Arial;
  font-weight: bold;
	color: #ffffff;
	padding: 5px;
	border-radius: 5px 5px;
	background-color: #000000
}
