* {
	margin: 0;
	padding: 0;
}
html {
	background: #000;
	color: #fff;
}
body {
	background: url(/h2_story.png) center top no-repeat;
	font-size: 62.5%; /* 1px = 0.1em */
	font-family: Verdana, sans-serif;
}
a {
	color: #8dcced;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.center {
	text-align: center;
}
.left {
	float: left;
	margin: 0 2em 1em 0;
}
.right {
	float: right;
	margin: 0 0 1em 2em;
}
.clear {
	clear: both;
}

/* PAGE STRUCTURE */
#container {
	width: 99.6em;
	margin: 0 auto;
	text-align: left;
}
#container p {
	font-size:14px;
}
#header {
	background: url(images/bg_header.jpg) center top repeat-x;
	width: 98em;
	height: 16em;
}
#header {
	background: url(images/bg_header.jpg) center top repeat-x;
	width: 98em;
	height: 16em;
}
#header h1 {
	display: none;
}
#header h2 {
	font-size: 2em;
	margin: 2.1em 0 0 1.5em;
}
#header h2 img { /* ie fix */
	width: 20em;
	height: 1.5em;
}
.mainwrap {
	background: #2c4357;
	border: #c3c9ca 0.2em solid;
	width: 96.5em;
	padding: 0.6em;
	float: left;
}
.mainwrap.colleft {
	width: 85em;
}
.mainwrap.colright {
	margin-left: 1.6em;
	width: 281px;
}
.main {
	background: #c3c9ca url(images/bg_main.jpg);
	background-attachment: fixed;
	border: #2c4357 0.3em double;
	color: #2c4357;
}
.main img {
	z-index: 2;
}
.main .copy {
	margin: 5em;
	padding: 0;
}
.main .copy h3 {
	font: 2.4em Georgia, "Times New Roman", Times, serif;
	color: #000;
	padding-top: 0.5em;
	margin: 0 0 0.1em 0;
}
.main .copy h3.highlight {
	font-size: 4.8em;
	font-style: italic;
	margin-top: -0.5em;
	padding: 0 0 0.4em 0;
	border-bottom: 0.01em solid #2c4357;
}
.main .copy h4 {
	font: 2em Georgia, "Times New Roman", Times, serif;
	color: #000;
	padding-top: 0.5em;
	margin: 0 0 0.1em 0;
}
.main .copy p,
.main .copy ul,
.main .copy ol {
	font-size: 1.1em;
	line-height: 1.6em;
	padding: 0.5em 0.1em 0.4em 0.1em;
}
.main .copy a {
	color: #000;
	/* text-decoration: underline; */
}
.main .copy a:hover {
	/* text-decoration: none; */
}
.main .copy ul li {
	list-style: square outside;
	margin: 0.3em 0;
}
.main .copy ol li {
	list-style: decimal inside;
	margin: 0.3em 0;
}
.sealed {
	border-top: 0.1em solid #44657d;
	border-bottom: 0.1em solid #44657d;
}
.main .profile {
	margin-left: 41em;
	padding: 0 0 1.8em 0;
}
ul#menu {
	background: #2c4357;
	margin: 0 auto;
	text-align: center;
	padding: 1.4em 0;
}
ul#menu li {
	font: bold 1.2em Georgia, "Times New Roman", Times, serif;
	text-transform: uppercase;
	display: inline;
}
ul#menu li a {
	color: #c3c9ca;
	/* padding: 0.667em; */
	padding: 1em;
}
ul#menu li a:hover {
	color: #fff;
}

/* BUTTONS */
.main .copy .buttontext {
	font: bold 10px/20px Verdana, sans-serif;
	background: #44657d url(images/bt_plain2.gif) left top no-repeat;
	color: #ffffff;
	text-align: center;
	display: block;
	width: 100px;
	height: 21px;
	text-decoration: none;
	margin: 0.4em 0;
}
.main .copy a:hover.buttontext {
	background-position: 0 -21px;
}
.button {
	width: 100px;
	height: 21px;
	display: block;
	float: left;
	margin: 1.1em 1em 0.2em 0;
}
a:hover.button {
	background-position: 0 -21px;
}
.button span {
	display: none;
}

/* RULES */
.main .copy ul.rules li {
	margin-bottom: 1.2em;
}
